@import "./navbar.scss";

html {
  scroll-behavior: smooth;
}

// * {
//   border: 1px solid red;
// }

body {
  margin: 0;
}

.container {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .blog-detail {
    width: 80%;

    .blog-container {
      width: 90%;
      margin: 0 auto;
      .blog-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .blog-title {
        font-size: 28px;
        width: 80%;
      }
      .author {
        font-size: 18px;
      }
      .blog-img {
        width: 100%;
        height: 65vh;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .blog-content {
        .content {
          font-size: 18px;
          line-height: 1.3;
          text-align: justify;
        }
      }
    }
  }

  .side-bar {
    width: 20%;
    .related-link-container {
      margin: 20px 5px;
      .related-link {
        img {
          width: 100%;
        }
      }
    }
  }

  .related-link-container {
    .related-link {
      cursor: pointer;
      .link-title {
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
