.logo {
  height: 50px;
  width: 150px;
  margin-left: 20px;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0;
}

.navigation-container ul {
  list-style-type: none;
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-container li {
  display: inline;
  padding: 10px;
}

.navigation-container a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-secondary);
  transition: background 0.4s;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* Hide default HTML checkbox */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(24px);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

footer {
  background-color: black;
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-links a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

footer .social-links a:hover {
  color: #2f9ee5;
}

footer .copy span {
  color: #2f9ee5;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container .blog-detail {
  width: 80%;
}

.container .blog-detail .blog-container {
  width: 90%;
  margin: 0 auto;
}

.container .blog-detail .blog-container .blog-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .blog-detail .blog-container .blog-title {
  font-size: 28px;
  width: 80%;
  color: #2f9ee5;
}

.container .blog-detail .blog-container .author {
  font-size: 18px;
  color: var(--font-color);
}

.container .blog-detail .blog-container .author i {
  margin: 0 5px;
}

.container .blog-detail .blog-container .blog-img {
  width: 100%;
  height: 65vh;
}

.container .blog-detail .blog-container .blog-img img {
  width: 100%;
  height: 100%;
}

.container .blog-detail .blog-container .blog-content {
  margin-top: 40px;
}

.container .blog-detail .blog-container .blog-content .content {
  color: var(--font-color);
  font-size: 18px;
  line-height: 1.3;
  text-align: justify;
}

.container .side-bar {
  width: 20%;
}

.container .side-bar h2 {
  color: var(--font-color);
}

.container .side-bar .related-link-container {
  margin: 20px 5px;
}

.container .side-bar .related-link-container .related-link img {
  width: 100%;
}

.container .related-link-container .related-link {
  cursor: pointer;
}

.container .related-link-container .related-link .link-title a {
  text-decoration: none;
  color: #2f9ee5;
}

@media (max-width: 368.98px) {
  .side-bar h2 {
    margin-left: 10px !important;
  }
  .related-link-container {
    display: block !important;
    margin-top: 0 auto;
  }
  .related-link-container .related-link {
    width: 100% !important;
  }
}

@media (max-width: 575.98px) {
  .navigation {
    padding: 0;
  }
  .navigation-container ul {
    margin-right: 0;
  }
  .navigation-container li {
    padding: 0;
  }
  .navigation-container li a {
    display: none;
  }
  .container {
    display: block;
  }
  .container .blog-detail {
    width: 100%;
  }
  .container .side-bar {
    width: 100%;
  }
  .container .side-bar h2 {
    margin-left: 30px;
  }
  .container .side-bar .related-link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .container .side-bar .related-link-container .related-link {
    width: 40%;
    margin: 5px;
  }
  footer {
    flex-direction: column;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .blog-info {
    display: block !important;
  }
  .blog-info .blog-title {
    width: 100% !important;
  }
  .blog-info .author {
    display: block;
    margin-bottom: 10px;
  }
}

/* Medium devices (tablets, less than 992px) */
/* Large devices (desktops, less than 1200px) */
/*# sourceMappingURL=style.css.map */